!!! 5
%html
  %head
    %title Skillmatch
    %meta{ :name => 'author', :content => 'Bob Nadler, Jr. <bnadlerjr@gmail.com>' }
    %link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css')/
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/styles.css'}/
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js")
    %script(type="text/javascript" src="./assets/tmpl.js")
    %script(type="text/javascript" src="./assets/app.js")
  %body
    = yield
